* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9df9ef;
}

.input-box input {
    position: realtive;
    width: 450px;
    height: 60px;
    border: none;
    margin: 15px 0px 10px;
    background: transparent;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #51e2f5;
    box-shadow: inset -2px -2px 8px #51e2f5, inset 2px 2px 8px rgb(183, 174, 174), inset 2px 2px 8px #51e2f5;
}

.input-box h2 {
    font-size: 30px;
    color:#ffa8B6;
    text-shadow: 2px 1px#a28089;
}

::placeholder {
    color: #a28089;
}

.input-box input::placeholder {
    letter-spacing: 0;
}

button {
    position: relative;
    cursor: pointer;
    color:#a28089;
    background-color:#ffa8B6;
    font-size: 20px;
    display: flex;
    padding: 10px 15px;
    border-radius: 20px;
    border-color: #a28089;
    margin-top: 30px;
    margin-left: 30px;
}

.input-box #btn:active {
    background-color: #a28089;
    transform: scale(.95);
}
