* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9df9ef;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 10px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #052023;
    box-shadow: inset -2px -2px 8px #51e2f5, inset 2px 2px 8px rgb(183, 174, 174), inset 2px 2px 8px #51e2f5;
}

.input-box h1 {
    font-size: 30px;
    color:#ffa8B6;
    text-shadow: 2px 1px#a28089;
    margin-bottom: 10px;
}

.input-box h2 {
    font-size: 15px;
    color:#a28089;
}

::placeholder {
    color: #a28089;
}

.input-box input::placeholder {
    letter-spacing: 0;
}

button {
    position: relative;
    cursor: pointer;
    color:#a28089;
    background-color:#ffa8B6;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    border-color: #a28089;
    margin-top: 30px;
    margin-left: 30px;
}

.buttons {
    margin-right: 40vh;
}

.input-box #btn:active {
    background-color: #a28089;
    transform: scale(.95);
}


@media (max-width: 750px) {
.input-box {
        width: 100%;
        position: fixed;
    }

    .input-box input {
        width: 80%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 60vh;
        margin-left: 50vh;
    }

    button {
        margin: 10px 10px;
      }
}
